/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/


body {
  background-image: url(resources/images/bg2.jpg);
  background-color: #6A8DFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Questrial', sans-serif;
}

@media screen and (max-width: 600px) {
  .principal{width:90% !important;}
  .experiencia{flex: 1 100% !important;}
  .containerexperiencia{flex-direction: column !important;}
}
 @media screen and (max-width: 500px){
  .links > a {margin-right: 5px !important;}
  .links > a > img {width:40px !important;height:40px !important;}
  .linksdireita > a > img {width:40px !important;height:40px !important;}
  .espacolinks{height: 50px !important;}
  .tabtexto {font-size: 14px !important;padding-top: 6% !important;}
  .tab {width: 30% !important;}
 }

.conteudo {
  padding: 10px;
}


.grayed {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.teste {
  display: block;
  width:200px;
  height: 200px;
  position: absolute;
  background-color: red;
}

.containerexperiencia {
  display: flex;
  flex-direction: row;
}


.containertestes {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.conteudoteste{
  padding: 10px;
  width: 90%;
  margin:auto;
  margin-top: 5px;
  background-color: gray;
}

.percentagem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  padding-top: 0px;
}

.bom > div {
  background-color: #03a203;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #045604;
  margin: 1px;
  border-radius: 3px;
}
.meh > div {
  background-color: #d6d628;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #8a8a07;
  margin: 1px;
  border-radius: 3px;
}
.mau > div {
  background-color: #ff3b3b;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #7d1919;
  margin: 1px;
  border-radius: 3px;
}



.experiencia {
  flex: 1 50%;
  background-color: #81AADFFF;
  margin:10px;
}

.principal {
  background-color: #c6d1ffeb;
  width: 700px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.headercat{
  padding:0px;
  margin:auto;
  display:block;
}

.headercat2{
  display: flex;
  align-items:center;
}

.texto {
  padding:10px;
  font-family: 'Open Sans', sans-serif;
}
.textoservidor {
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
}

.textocargo {
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
}

.moderador {
  color:#097890;
}

.admin {
  color:#C50000FF;
}

.vp {
  color:#a56206;
}

.nomecat{
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.imgcat{
  vertical-align: middle;
  padding: 10px;
  margin-right:10px;
}

.imgtext{
  vertical-align: middle;
  padding: 10px;
  margin:auto;
}
.nomeimg{
  font-size: 15px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.containerinterior {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1 100%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  min-width: 0;
  margin: 5px;
}

.avatar {
  border-radius: 90px;
  margin:auto;
  margin-bottom: 5px;
  width: 400px;
  max-width: 100%;
  max-height: 250px;
}

.hidden{
 display: block;
 flex:1 100%;
 background-color: #3f92ff;
 border-radius:900px;
 margin:auto;
 margin-top: 0px;
 padding:10px;
 padding-top: 0px;
 font-size: 14px;
 align-self: center;
}
.Jquery {
  display: none;
}

.tab {
  width: 20%;
  height: 20px;
  background-color: #71778a;
  padding: 3px;
  border-radius: 10px 10px 0px 0px;
  margin-right: 5px;
}

.tab:hover{
  background-color: #929BB5FF;
}

.tabtexto {
  margin:auto;
  display: block;
  padding-top: 3%;
  padding-left: 12%;
}

.tabs{
  display: flex;
  flex direction: row;
}

.tabactive {
  background-color: #929BB5FF;
}

.conteudohabilidade {
  display: flex;
  flex-direction: column;
}

.habilidadebg {
  flex: 1 100%;
  background-color: #6896d2;
  border-radius: 20px;
  margin-top: 5px;
}

.hnome {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #3997a2;
}

.separador {
  flex: 1 100%;
  height: 7px;
  background-color: #929BB5FF;
  margin-bottom: 10px;
}

.separadorcat{
  flex: 1 100%;
  height: 2px;
  background-color: #74BED8FF;
}

.alcunha {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}

.links {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.espacolinks{
  flex: 1 100%;
  height: 70px;
  display: block;
}

.linksdireita {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.links > a {
  margin-right: 15px
}

.links > a > img {
  width:60px;
  height: 60px;
}

.linksdireita > a > img {
  width: 60px;
  height: 60px;
}

.ulinks:hover {
  text-decoration: underline !important;
}

/*Remover links*/

a:link {
  color:inherit;
    text-decoration: none;
}

a:visited {
  color:inherit;
    text-decoration: none;
}

a:hover {
  color:inherit;
    text-decoration: none;
}

a:active {
  color:inherit;
    text-decoration: none;
}
