/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/


body {
  background-image: url(resources/images/bg2.jpg);
  background-color: #6A8DFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Questrial', sans-serif;
}

@media screen and (max-width: 600px) {
  .principal{width:90% !important;}
  .experiencia{flex: 1 100% !important;}
  .containerexperiencia{flex-direction: column !important;}
  .descricao {overflow-y: scroll;overflow-x:hidden;}
  .galeria {align-content: center;}
  .avatar {border-style: none !important;}
}
 @media screen and (max-width: 500px){
  .links > a {margin-right: 5px !important;}
  .links > a > img {width:40px !important;height:40px !important;}
  .linksdireita > a > img {width:40px !important;height:40px !important;}
  .espacolinks{height: 50px !important;}
  .tabtexto {font-size: 14px !important;padding-top: 6% !important;}
  .tab {width: 30% !important;}
 }

.conteudo {
  padding: 10px;
}


.grayed {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.teste {
  display: block;
  width:200px;
  height: 200px;
  position: absolute;
  background-color: red;
}

.galeria > * {
  /*margin:auto;*/

}

.imgtest {
  display: flex;
  align-items: center;
  /*min-height: 50px;*/
  max-width: 650px;
  max-height: 100px;
  border-radius: 30%;
  position: relative;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 2px;
/*  margin:auto;*/
  margin-top:10px;
  margin-right: 10px
}

.imgtest > img {
    position: absolute;
    max-width: inherit;
    max-height: inherit;
}

.imgtest:hover {
  box-shadow: 0px 1px 20px 0px;
}
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.descricao {
    display: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    position: absolute;
    max-height: 90%;
    background-color: rgba(74, 72, 72, 0.85);
    bottom: 0;
    padding: 10px;
    overflow-y:scroll;
    overflow-x:hidden;
    left:0%;
    padding-left: 15%;
    padding-right: 100%;
}

.desctitulo {
      font-weight: bold;
}

.desc {
  font-size: 11px;
}
.containerexperiencia {
  display: flex;
  flex-direction: row;
}


.containertestes {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.conteudoteste{
  padding: 10px;
  width: 90%;
  margin:auto;
  background-color: gray;
}

.percentagem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  padding-top: 0px;
}

.bom > div {
  background-color: #03a203;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #045604;
  margin: 1px;
  border-radius: 3px;
}
.meh > div {
  background-color: #d6d628;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #8a8a07;
  margin: 1px;
  border-radius: 3px;
}
.mau > div {
  background-color: #ff3b3b;
  width: 8%;
  height: 20px;
  border: 2px;
  border-style: solid;
  border-color: #7d1919;
  margin: 1px;
  border-radius: 3px;
}



.experiencia {
  flex: 1 50%;
  background-color: rgb(129, 170, 223);
  margin:10px;
}

.principal {
  background-color: rgba(198, 209, 255, 0.92);
  width: 700px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.headercat{
  padding:0px;
  margin:auto;
  display:block;
}

.headercat2{
  display: flex;
  align-items:center;
}

.texto {
  display: block;
  padding:10px;
  font-family: 'Open Sans', sans-serif;
}
.textoservidor {
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
}

.textocargo {
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
}

.moderador {
  color:#097890;
}

.admin {
  color:rgb(197, 0, 0);
}

.vp {
  color:#a56206;
}

.nomecat{
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.imgcat{
  vertical-align: middle;
  padding: 10px;
  margin-right:10px;
}

.imgtext{
  vertical-align: middle;
  padding: 10px;
  margin:auto;
}
.nomeimg{
  font-size: 15px;
  font-family: 'Questrial', sans-serif;
  margin:auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.containerinterior {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1 100%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  min-width: 0;
  margin: 5px;
}

.avatar:hover {
  box-shadow: 0px 1px 20px 0px;
}

.avatar {
  position: relative;
  border-radius: 90px;
  margin:auto;
  margin-bottom: 5px;
  width: 400px;
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 3px;

}

.avatar > span {
    display: none;
    position: absolute;
    background-color: rgba(74, 72, 72, 0.85);
    width: 100%;
    max-height: 50%;
    bottom: 0;
    left:0;
    padding: 1% 900% 2% 20%;
    text-align: left;
    color: white;
    overflow-y:scroll;
    overflow-x:hidden;
}

.hidden{
 display: block;
 flex:1 100%;
 background-color: #3f92ff;
 border-radius:900px;
 margin:auto;
 margin-top: 0px;
 padding:10px;
 padding-top: 0px;
 font-size: 14px;
 align-self: center;
}
.Jquery {
  display: none;
}

.tab {
  width: 20%;
  height: 20px;
  background-color: rgb(113, 119, 138);
  padding: 3px;
  border-radius: 10px 10px 0px 0px;
  margin-right: 5px;
}

.tab:hover{
  background-color: rgb(146, 155, 181);
}

.tabtexto {
  margin:auto;
  display: block;
  padding-top: 3%;
  padding-left: 12%;
}

.tabs{
  display: flex;
  flex direction: row;
}

.tabactive {
  background-color: rgb(146, 155, 181);
}

.conteudohabilidade {
  display: flex;
  flex-direction: column;
}

.habilidadebg {
  flex: 1 100%;
  background-color: #6896d2;
  border-radius: 20px;
  margin-top: 5px;
}

.hnome {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #3997a2;
}

.separador {
  height: 7px;
  background-color: rgb(146, 155, 181);
  margin-bottom: 10px;
}

.separadorcat{
  flex: 1 100%;
  height: 2px;
  background-color: rgb(116, 190, 216);
}

.alcunha {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}

.links {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.espacolinks{
  height: 70px;
  display: block;
}

.linksdireita {
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.links > a {
  margin-right: 15px
}

.links > a > img {
  width:60px;
  height: 60px;
}

.linksdireita > a > img {
  width: 60px;
  height: 60px;
}

.ulinks:hover {
  text-decoration: underline !important;
}

/*Remover links*/

a:link {
  color:inherit;
    text-decoration: none;
}

a:visited {
  color:inherit;
    text-decoration: none;
}

a:hover {
  color:inherit;
    text-decoration: none;
}

a:active {
  color:inherit;
    text-decoration: none;
}
