/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/

@media screen and (max-width: 600px) {

}

body {
  background-color: rgb(200, 245, 183);
}

.container {
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.47);
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 80%;
  margin:auto;
  padding:20px;
  padding-bottom: 50px;
}

.teste {
  background-color: green !important;
}

.PK {
  background-color: #cc2121 !important;
}

table {
  width: 100%;
  /*outline: 2px solid brown;*/
  border-spacing: 0px;
}

table td {
  width: 10%;
  height: 50px;
}

.DJ {
  border:2px solid black;
}

.highlight {
  background-color: rgb(255, 166, 34) !important;
}

.jogo {
  outline:2px solid rgb(105, 57, 9);
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin:auto;
}

.preto {
  background-color: rgb(130, 75, 27);
}

.dama{
  border-radius: 100%;
  margin:auto;
  width: 80%;
  height: 80%;
  box-shadow: 1px 2px black;
}

.amarela{
  background-color: yellow;
}

.h1 {
  background-color: rgb(136, 67, 26);
  border-radius: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 4em;
  padding:10px;
  margin-bottom: 20px;
}

.y{
  text-align: center;
  color: yellow;
}

.r{
  text-align: center;
  color: red;
}

.vermelha{
  background-color: red;
}

.branco {

}
