body {
  background-color: #e4c244;
  font-family: 'Questrial', sans-serif;
  background: repeating-linear-gradient(
  to right,
  #e4c244,
  #e4c244 10px,
  #887a18 10px,
  #887a18 20px
);
}
.container {
  display: flex;
  flex-direction: row;
}

.containerprincipal {
  display: flex;
  flex-direction: column;
}

.headercao {
  text-align: center;
  margin:auto;
}

.principal {
  background-color: #d6a840eb;
  width: 700px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

.separador {
  width: 100%;
  height: 7px;
  background-color: #b57f06;
  margin-bottom: 10px;
}

h1 {
  color: #755713;
}
.imgauto {
  vertical-align: middle;
  padding: 10px;
  margin-right:10px;
  height: 50px;
  width: 50px;
}

.contentor{
  flex: 1 100%;
  background-color: #8a491b;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.separadorvertical{
  width: 3px;
  height: 65px;
  background-color: #bb5b23;
}

.contentor > * {
  margin:auto;
}


button {
  display: block;
  padding: 10px;
  background-color: #ff8d00;
  font-family: 'Open Sans', sans-serif;
  border-width: 0px;
  outline:none;
  text-align:center;
  border:none;
  border-radius: 40px;
  margin: 10px;
  box-shadow: 0 2px #666;
}

button:hover {background-color: #c37008}

button:active {
  background-color: #c37008;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

img#clicker {
  cursor: pointer;
}

img#clicker:active {
    width: 190px;
    height: 190px;
    padding-bottom: 10px;
}
span#numero {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

/*Remover links*/

a:link {
  color:inherit;
    text-decoration: none;
}

a:visited {
  color:inherit;
    text-decoration: none;
}

a:hover {
  color:inherit;
    text-decoration: none;
}

a:active {
  color:inherit;
    text-decoration: none;
}
